browser/node_modules
browser/target
browser/dist
leptos-browser/target
leptos-browser/dist
db/target
server/.env
target
.docker-build
.env
key.json
*.db*
.*.db*
.aider*
backup
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/bootstrap/.terraform/
