browser/node_modules
browser/target
browser/dist
leptos-browser/target
leptos-browser/dist
db/target
server/.env
target
.docker-build
.local/
.env
key.json
*.db*
.*.db*
.aider*
.playwright-cli/
.playwright-mcp/
playwright-app.png
backup
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/tfplan
terraform/.terraform/
terraform/bootstrap/.terraform/
terraform_gcp_storage/terraform.tfvars
terraform_gcp_storage/terraform.tfstate
terraform_gcp_storage/terraform.tfstate.backup
terraform_gcp_storage/**/terraform.tfstate
terraform_gcp_storage/**/terraform.tfstate.backup
terraform_gcp_storage/tfplan
terraform_gcp_storage/.terraform/
terraform_gcp_storage/bootstrap/.terraform/
terraform_gcp_app/terraform.tfvars
terraform_gcp_app/terraform.tfstate
terraform_gcp_app/terraform.tfstate.backup
terraform_gcp_app/**/terraform.tfstate
terraform_gcp_app/**/terraform.tfstate.backup
terraform_gcp_app/tfplan
terraform_gcp_app/.terraform/
terraform_ci/terraform.tfvars
terraform_ci/terraform.tfstate
terraform_ci/terraform.tfstate.backup
terraform_ci/**/terraform.tfstate
terraform_ci/**/terraform.tfstate.backup
terraform_ci/tfplan
terraform_ci/.terraform/
terraform_cf/terraform.tfvars
terraform_cf/terraform.tfstate
terraform_cf/terraform.tfstate.backup
terraform_cf/**/terraform.tfstate
terraform_cf/**/terraform.tfstate.backup
terraform_cf/tfplan
terraform_cf/.terraform/
