<!DOCTYPE html>
<html>

<head>
    <title>admin</title>
    <style>
        textarea {
            font-family: Menlo, Consolas, Monaco, "Lucida Console", "Andale Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", "Bitstream Vera Sans Mono", monospace;
            width: 100%;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            font-size: 1.2em;
            line-height: 1.5em;
            resize: none;
            text-align: left;
            overflow: auto;
        }
    </style>
</head>

<body>
    <h1>admin</h1>
    <table>
        <tr>
            <th>user_id</th>
            <th>nickname</th>
            <th>role</th>
            <th>created_at</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.user_id}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.role}}</td>
            <td>{{user.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>user_auth_id</th>
            <th>user_id</th>
            <th>identifier</th>
            <th>identity_type</th>
            <th>created_at</th>
        </tr>
        {% for auth in user_auths %}
        <tr>
            <td>{{auth.user_auth_id}}</td>
            <td>{{auth.user_id}}</td>
            <td>{{auth.identifier}}</td>
            <td>{{auth.identity_type}}</td>
            <td>{{auth.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>access_log_id</th>
            <th>user_id</th>
            <th>request</th>
            <th>created_at</th>
        </tr>
        {% for access_log in access_logs %}
        <tr>
            <td>{{access_log.access_log_id}}</td>
            <td>{{access_log.user_id}}</td>
            <td>{{access_log.request}}</td>
            <td>{{access_log.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="/admin/apply">
        <div>{{river_csv_header}}</div>
        <textarea name="river_csv" rows="10" cols="50">{{river_csv}}</textarea>
        <input type="submit" value="apply" />
    </form>
    <form method="post" action="/admin/apply">
        <div>{{river_waypoints_csv_header}}</div>
        <textarea name="river_waypoints_csv" rows="10" cols="50">{{river_waypoints_csv}}</textarea>
        <input type="submit" value="apply" />
    </form>
    <form method="post" action="/admin/apply">
        <div>{{river_tracks_csv_header}}</div>
        <textarea name="river_tracks_csv" rows="10" cols="50">{{river_tracks_csv}}</textarea>
        <input type="submit" value="apply" />
    </form>
    <form method="post" action="/logout">
        <input type="submit" value="Logout" />
    </form>
</body>

</html>