project_id     = "your-project-id"
region         = "asia-northeast1"

service_name    = "litestream-sandbox"
container_image = "asia-northeast1-docker.pkg.dev/your-project-id/cloud-run-source-deploy/litestream-sandbox:latest"

github_client_id   = "your-github-client-id"
facebook_client_id = "your-facebook-client-id"
