@import "normalize";

body {
  padding: 0;
  margin: 0
}

html,
body,
.map-container,
#map {
  height: 100%;
  width: 100%;
}
.control {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}