@import "normalize";

body {
  padding: 0;
  margin: 0
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.control-top-left-1st {
  position: absolute;
  top: 5em;
  left: 1em;
  z-index: 1000;
}
.control-top-left-2nd {
  position: absolute;
  top: 7em;
  left: 1em;
  z-index: 1000;
}
.control-top-left-3rd {
  position: absolute;
  top: 9em;
  left: 1em;
  z-index: 1000;
}
.control-top-left-4th {
  position: absolute;
  top: 11em;
  left: 1em;
  z-index: 1000;
}
.control-top-left-5th {
  position: absolute;
  top: 13em;
  left: 1em;
  z-index: 1000;
}

.control-bottom-left-1st {
  position: absolute;
  bottom: 5em;
  left: 1em;
  z-index: 1000;
  // padding: 10px;
  // border-radius: 5px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.crosshair {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px; /* 十字の中心を合わせるためのマージン */
  margin-top: -10px;
  pointer-events: none;
}
.crosshair::before,
.crosshair::after {
  content: '';
  position: absolute;
  background-color: red;
}
.crosshair::before {
  width: 2px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.crosshair::after {
  width: 20px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}