@import "normalize";

body {
  padding: 0;
  margin: 0
}

html,
body,
.map-container,
#map {
  height: 100%;
  width: 100%;
}
.control {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.crosshair {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px; /* 十字の中心を合わせるためのマージン */
  margin-top: -10px;
  pointer-events: none;
}
.crosshair::before,
.crosshair::after {
  content: '';
  position: absolute;
  background-color: red;
}
.crosshair::before {
  width: 2px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.crosshair::after {
  width: 20px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}